@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Quicksand:wght@300;400;600&display=swap");

:root {
  --font-family-1: "Quicksand", sans-serif;
  --font-family-2: "Lobster Two", cursive;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
